[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-cloudinary-storage = "*"
cloudinary = "*"
python-dotenv = "*"
psycopg2 = "*"
pillow = "*"
channels = "==3.0.4"
django-heroku = "*"
channels-redis = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.8"
