<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset request</title>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color:black; color: white; padding:7px">
    <div>
        <h1 style="text-align:center">PASSWORD RESET REQUEST</h2>
    </div>
    <div>
        <p style="margin-bottom: 4px; font-size: 14px">Dear {{user_name}},</p>
        <p style="font-size: 16px">We have received your request to reset your password. Please click on the link below to complete the reset</p>
        <div style="margin: 10px 0 10px 0; text-align: center;">
            <a
              style="background-color: #336CFB; margin-top: 3px; margin-bottom: 3px; padding: 10px 20px; font-size: 15px; color: white; border-radius: 5px; display: inline-block;"
              href="{{ absolute_url }}"
            >Reset My Password</a>
        </div>
        <p>or open this link in your browser: {{ absolute_url }}</p>
    </div>
</body>
</html>